
<%- include("sidebar"); -%>



<div class="container justify-content-center">
<h1 style="margin-left:300px; " id="h1">QR-CODE</h1>
  <div class="row">


<div  style="margin-top:10px" class="col-md-3">
  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Subject</label>
      <div class="select-option">
          <select name="SubName" id="SubName">
              <% sub.forEach(sub => { %>
                  <option name = "" value=<%= sub %> > <%= sub %> </option>
              <% }) %>
          </select>
      </div>
      <br/>

      <label for="exampleInputEmail1">Time</label>
      <input type="datetime-local" name="dt" <input type="datetime-local">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form></div>
  <div class="col-md-3">

  </div>

<div class="col-md-5">
  <div class="">
      <img style="width:250px; height=250px;" src=<%= qr_code %> alt="QR Code">
      <br>
      <a href="/present"style=" margin-left:50px; width:150px " role="button" class="btn btn-primary">next</a>
  </div>
  </div>
</div>
</div>
<%- include("footer"); -%>
